{{!< layout}}

<div class="middle_container">
  <div class="middle">
    <img src="/public/img/logo.png" class="logo" alt="Doodles.io" />
    <div class="container">
      <div class="dummy"></div>
      <div class="main">
        <nav>
          <select id="color">
            <option value="black">Black</option>
            <option value="blue" selected="selected">Blue</option>
            <option value="red">Red</option>
            <option value="green">Green</option>
          </select>
          <span id="save_text"></span>
        </nav>
        <div id="heading">
          <input type="text" id="title" placeholder="Type your title here..." />
        </div>
        <div id="sketch">
          <canvas id="tools_sketch" class="notepad"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="/public/js/ajax.js"></script>
<script src="/public/js/app.js"></script>
<script>var doodle = new Doodle({{#if doodle}}{ title: '{{doodle.title}}', slug: '{{doodle.slug}}', image: '{{doodle.image}}', _id: '{{doodle._id}}' }{{/if}});</script>