<!DOCTYPE html>
<html>
  <head>
    <title>Doodles.io</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/public/css/style.css" rel="stylesheet">
  </head>
  <body>
    <div class="container">
      <nav>
        <select id="color">
          <option value="black">Black</option>
          <option value="blue" selected="selected">Blue</option>
          <option value="red">Red</option>
          <option value="green">Green</option>
        </select>
      </nav>
      <div id="heading">
        <input type="text" placeholder="Type your title here..." />
      </div>
      <div id="sketch">
        <canvas id="tools_sketch" class="notepad"></canvas>
      </div>
    </div>
    <script src="/public/js/app.js"></script>
  </body>
</html>