<!DOCTYPE html>
<html>
  <head>
    <title>Doodles.io</title>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <link href="/public/css/normalize.css" rel="stylesheet">
    <link href="/public/css/style.css" rel="stylesheet">
    <script src="/public/js/intro.js"></script>
    <script src="/public/js/utils.js"></script>
    <script src="/public/js/ajax.js"></script>
    <script src="/public/js/app.js"></script>
    <script src="/public/js/login.js"></script>
    <script src="/public/js/doodles.js"></script>
  </head>
  <body>
    <div id="message"></div>
    <div class="bar">
      <div class="left">
        <a href="/">
          <img src="/public/img/logo.png" class="logo" alt="Doodles.io" />
        </a>
      </div>
      <div class="right">
        {{#if user}}
          Howdy, {{user.username}}!&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/logout">Logout</a></strong>
        {{else}}
          <a href="/login">Login</a>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;&nbsp;<strong><a href="/register">Register</a></strong>
        {{/if}}
      </div>
      <div class="clearfix"></div>
    </div>
    {{{body}}}
  </body>
</html>