{{!< layout}}

<div class="middle_container">
  <div class="middle">
    <div class="container" id="login">
      <form action="/login" method="post" class="form">
        <input type="text" name="id" id="id" placeholder="Username or Email Address" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</div>