<div class="vertical_layout">
  <div class="vertical_cell">
    <div id="login" class="container">
      <form action="/login" method="post" class="form">
        <input type="text" name="id" id="id" placeholder="Username or Email Address" autofocus="autofocus" />
        <input type="password" name="password" id="password" placeholder="Password" />
        <input type="submit" value="Login" />
      </form>
    </div>
  </div>
</div>
