{{!< layout}}

<div class="middle_container">
  <div class="middle">
    <div class="container">
      <form action="/register" method="post">
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="email" placeholder="Email Address" />
        <input type="password" name="password" />
        <input type="submit" value="Register" />
      </form>
    </div>
  </div>
</div>