{{!< layout}}

<div class="main">
  {{#each doodles}}
  <a href="/{{slug}}">
    <img src="{{image}}" alt="{{title}}" width="200" height="200" />
  </a>
  <input type="button" class="remove-btn" data-slug="{{slug}}" value="remove" />
  {{/each}}
</div>
