{{!< layout}}
<ul id="scrapbook">
  <!-- The plus button -->
  <li>
    <div class="doodle_scrapbook">
      <div class="doodle_ratio_push"></div>
      <div class="doodle_ratio">
        <div class="doodle_image">
          <a href="/new"></a>
        </div>
      </div>
    </div>
  </li>
  {{#each doodles}}
  <li data-slug={{slug}}>
    <div class="doodle_scrapbook">
      <div class="doodle_ratio_push"></div>
      <div class="doodle_ratio">
        <div class="doodle_image">
          <a href="/{{slug}}"><img src="{{image}}" alt="{{title}}" /></a>
        </div>
      </div>
    </div>
    {{#if ../userIsOwner}}
      <input type="button" class="delete_button" value="Delete" />
    {{/if}}
  </li>
  {{/each}}
</ul>
