* {
  box-sizing: border-box;
}

/* Clearfix */

.clearfix:before, .clearfix:after {
  content: " ";
  display: table;
}

.clearfix:after {
  clear: both;
}

.clearfix {
  *zoom: 1;
}

html {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

body {
  background: #eee9e2;
  min-height: 100%;
  box-sizing: border-box;
  font: 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  padding: 1rem;
  margin: 0;
  height: 100%;
  width: 100%;
  overflow: auto;
  line-height: 100%;
}

a {
  text-decoration: none;
}

input {
  outline: none;
  font: inherit;
  border: none;
  color: rgba(0, 0, 0, 0.6);
  border-radius: 0;
}

input[type=submit] {
  background-color: #408fbb;
  color: #ffffff;
}

.form input {
  width: 100%;
  display: block;
  margin: 0;
  padding: 1rem 1rem 0.8rem;
}

.middle_container {
  display: table;
  height: 100%;
  width: 100%;
}

.middle {
  display: table-cell;
  vertical-align: middle;
}

.bar {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 5rem;
  line-height: 5rem;
  padding: 0 2rem;
  color: rgba(0, 0, 0, 0.6);
}

.bar a {
  color: rgba(0, 0, 0, 0.6);
}

.left {
  float: left;
}

.right {
  float: right;
}

.logo {
  width: 100px;
  opacity: 0.2;
  margin: 1.4rem 0 0;
  display: block;
}

.container {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.15);
  width: 100%;
  max-width: 500px;
  max-height: 550px;
  overflow: hidden;
  border: 1px solid rgba(0,0,0,.5);
  position: relative;
  margin: 0 auto;
}

.container_doodle {
  padding-top: 50px;
}

#login_form, #register_form {
  max-width: 300px;
}

#login_form #id, #register_form #username, #register_form #email {
  border-bottom: 1px solid #dddddd;
}

.container .dummy {
  margin-top: 100%;
}

/* Maintains 1:1 aspect ratio */
.container .main {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

nav {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.container #heading {
  text-align: center;
  height: 50px;
  background-color: #408fbb;
  box-shadow: inset 0 1px rgba(255,255,255,.3);
  border-bottom: 1px solid rgba(0,0,0,.5);
  line-height: 50px;
  margin: 0;
  position: relative;
}

.container #heading input {
  font-size: 16px;
  text-align: center;
  width: 100%;
  height: 50px;
  color: rgba(255, 255, 255, 1);
  border: none;
  outline: none;
  background: none;
  font: inherit;
  line-height: 16px;
  position: absolute;
  top: 0;
  left: 0;
}

.container #heading input.placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.container #heading:after {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 4px;
  left: 0;
  border-bottom: 1px dashed rgba(255,255,255,.4);
}

#sketch {
  position: relative;
}

.container .notepad {
  font: inherit;
  font-size: .75em;
  color: rgba(0,0,0,.7);
  margin: 0;
  display: block;
  box-sizing: border-box;
  border-radius: 0 0 5px 5px;
  border-top: 0;
  resize: vertical;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(0deg, transparent, transparent 24px, #f0c9ca 24px, #f0c9ca 25px, transparent 25px, transparent 27px, #f0c9ca 27px, #f0c9ca 28px, transparent 28px), linear-gradient(#fff, #fff 17px, #e3ebf3 17px, #e3ebf3 18px);
  background-size: 36px 18px, 36px 18px;
  background-repeat: repeat-y, repeat;
}

#tmp_canvas {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  cursor: crosshair;
}

#message {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  height: 3rem;
  line-height: 3rem;
  color: #ffffff;
  display: block;
  text-align: center;
    -webkit-transform: translateY(-3rem);
     -moz-transform: translateY(-3rem);
      -ms-transform: translateY(-3rem);
       -o-transform: translateY(-3rem);
          transform: translateY(-3rem);
  -webkit-transition: -webkit-transform 0.2s ease-in-out; 
     -moz-transition: -moz-transform 0.2s ease-in-out;
       -o-transition: -o-transform 0.2s ease-in-out;
          transition: transform 0.2s ease-in-out;
  z-index: 999999;
}

#message[data-type='info'] {
  background: #408fbb;
}

#message[data-type='success'] {
  background: #76bb40;
}

#message[data-type='warning'] {
  background: #e0ac24;
}

#message[data-type='error'] {
  background: #bb4040;
}

#message.open {
  -webkit-transform: translateY(0);
     -moz-transform: translateY(0);
      -ms-transform: translateY(0);
       -o-transform: translateY(0);
          transform: translateY(0);
}